<!doctype html>
<html class="no-js " lang="en">


<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

<title>StyleSavvy</title>
<!-- Favicon-->

<!-- google icons -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />

<!-- Custom Css -->
<link rel="stylesheet" href="/assets1/plugins/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="/assets1/css/style.min.css">    
<link rel="stylesheet" href="/assets1/css/myStyle.css">
</head>

<body class="theme-blush">
    <main style="position: relative; top: 0px;" class="main">
        <div class="error-content text-center" style="height: 100vh; display: flex; justify-content: center; align-items: center;">
            <div style="display: flex; flex-direction: column; align-items: center;" class="container">
                <h3 class="error-title">500 - Server Error</h3>
                <p style="font-size: 16px;">We are sorry, there is a server issue!.</p>
                <img style="width: 300px;" src="/assets/images/demos/demo-5/404.png" alt="">
                <a href="/admin/dashboard" style="background-color: #e47297;" class="btn btn-dark btn-minwidth-lg">
                    <span>BACK TO DASHBOARD</span>
                    <i class="icon-long-arrow-right"></i>
                </a>
            </div>
        </div>
    </main>

</body>


</html>